.search_component {
  /* border: 1px solid #000; */
  width: 80%;
}

.search_input {
  border: 1px solid #000;
  width: 100%;
  padding: 8px;
}

.search_input:focus {
  outline: none !important; 
}

.ascDesc{
    display: flex;
    align-items: center;
    justify-content: center;
}
